---
import kid from "../../image/academics/kid.png";
import Button from "../system/Button.astro";
import { Image } from "astro:assets";
import Text from "../system/Text.astro";
import Sal from "../system/Sal.astro";
import Section from "../system/Section.astro";
import Scribble from "../Scribble.astro";
import gridBG from "../../fillers/gridBG.svg";

import Affiliations from "../Affiliations.astro";

const { 
  noLogo = false,
  title = ['Aspiring ', 'for Excellence'],
  description = "Ekam's educational philosophy, shaped by MDN Edify Education, centers on Inquiry-Based Learning, nurturing progressive thinking and curiosity. Our 3C policy emphasizes character, competence, and content, offering interactive and integrated learning experiences. Our pedagogical approach prioritizes student-centered learning, incorporating diverse teaching strategies like QAXP and RAFT."
} = Astro.props

---

<Section>
  <div
    class="flex flex-row gap-[72px] max-md:gap-[30px] max-md:flex-col max-md:items-center relative"
  >
    <div class="max-md:order-2">
      <Sal preset="slide-up" d="100" t="400">
        <Text type="h2">
          {title[0]} <span class="relative"> {title[1]}</span>
        </Text>
      </Sal>
      <div class="p-2"></div>
      <div class="p-3 max-md:p-2"></div>
      <Sal preset="slide-up" d="300" t="400">
        <Text type="base">
          {description}
        </Text>
      </Sal>
      <div class="p-3"></div>
    </div>
    <Sal preset="fade" d="400" t="400" class="flex-shrink-0">
      <Image
        class="w-[324px] max-md:w-[210px]"
        src={kid}
        alt="Why choose Ekam??"
      />
    </Sal>
    <div
      class="w-[1016px] h-[650px] max-[1030px]:w-full absolute -left-[50px] top-[280px] -z-[1] opacity-60"
    >
      <img src={gridBG.src} class="w-full h-full" />
    </div>
  </div>

  <div class="pt-6"></div>
  {!noLogo && (
    <Affiliations />
  )}
</Section>
